<div class="container">
  <%= form_tag shoes_path, method: :get, class: 'd-flex m-4' do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control border-radius",
    placeholder: "Find perfect shoes by category or color...."
  %>
    <%= button_tag type:'submit', style: 'border-style:none' do %>
      <i class="fas fa-search border-style-none"></i>
    <% end %>
  <% end %>
  <div class="cards">
    <% @shoes.each do |shoe| %>
      <%= link_to shoe_path(shoe),class:"text-decoration-none" do %>
        <div class="card-trip">
          <% if shoe.photo.attached? %>
            <%= cl_image_tag shoe.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <%= image_tag "shoe-logo.png" %>
          <% end %>
          <h2 class="shoe-size">size: <%= shoe.size %></h2>
          <div class="card-trip-infos">
            <h1><%= shoe.name %></h1>
            <div class="card-price">
              <h2 class="card-trip-pricing">$<%= shoe.price %>/day</h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
