<div class="container p-4">
  <div class="row">
    <div class="col-12 col-lg-7">
      <% if @shoe.photo.attached? %>
        <%= cl_image_tag @shoe.photo.key, height: 350, width: 500, crop: :fill %>
      <% else %>
        <%= image_tag "shoe-logo.png", class: "shoe-show"%>
      <% end %>
    </div>
    <div class="col-12 col-lg-5">
      <div class="shoe-container">
        <div class="shoe-title">
          <h1 class="font-weight-bold"><%= @shoe.name %></h1>
          <p class="font-weight-bold">$<%= @shoe.price %>/day</p>
        </div>
        <div class="shoe-details">
          <div class="shoe-detail">
            <p class="shoe-detail-type">category</p>
            <p><%= @shoe.category %></p>
          </div>
          <div class="shoe-detail">
            <p class="shoe-detail-type">size</p>
            <p><%= @shoe.size %></p>
          </div>
          <div class="shoe-detail">
            <p class="shoe-detail-type">color</p>
            <p><%= @shoe.color %></p>
          </div>
        </div>
        <%= simple_form_for [ @shoe, @rental ] do |f| %>
          <%= f.input :start_date, html5: true %>
          <%= f.input :end_date, html5: true %>
          <%= f.submit class: 'btn btn-outline-success btn-lg'%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to shoes_path, class:"text-decoration-none text-success" do %>
      Back<i class="fas fa-shoe-prints"></i>
    <% end %>
  </div>
</div>
