<div class="container">
  <div>
    <h1>SOMEONE WANTS THESE SHOES BRAH</h1>
  </div>
  <div class="cards">
    <% @rentals.each do |rental| %>
      <div class="card-trip">
        <% if rental.shoe.photo.attached? %>
          <%= cl_image_tag rental.shoe.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <p>no photo</p>
        <% end %>
        <h2 class="shoe-size">size: <%= rental.shoe.size %></h2>
        <div class="card-trip-infos">
          <h1><%= rental.shoe.name %></h1>
          <div class="card-price">
            <h2 class="card-trip-pricing"><i class="fas fa-hand-holding-usd"></i> <%= rental.shoe.price %>¥</h2>
            <h2 class="card-trip-start-date"><i class="far fa-calendar-alt"></i> <%= rental.formatted_start_date %> - <%= rental.formatted_end_date %> </h2>
            <h2 class="card-trip-owner-name">Owner's name: <%= rental.shoe.user.name %></h2>
            <h2 class="card-trip-owner-email">Owner's email: <%= rental.shoe.user.email %></h2>
            <h2 class="card-trip-owner-email">Booking Status: <%= rental.status %></h2>
            <% if rental.pending? %>
              <%= simple_form_for rental do |f| %>
                <%= f.input :status, as: :hidden, input_html: {value: "confirmed"} %>
                <%= f.submit "Confirm", class: "btn btn-info" %>
              <% end %>
              <%= simple_form_for rental do |f| %>
                <%= f.input :status, as: :hidden, input_html: {value: "declined"} %>
                <%= f.submit "Decline", class: "btn btn-info" %>
              <% end %>
            <% else %>
              <% rental.status %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to shoes_path, class:"text-decoration-none text-success" do %>
      Back<i class="fas fa-shoe-prints text-align-center"></i>
    <% end %>
  </div>
